<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="my-view1">
  <template>
  <style type="text/css">

      paper-button{
        margin: 30px auto;
        display: block;
        text-align: center;
        width: 80%;
        background-color:#0a2a71;
        color:white;
      }
      @media screen and (min-width:948px){
        paper-button{
          width: 300px;
          margin-left:0px;
        }
      }
  </style>
 <iron-ajax id= "datamanager"
        auto="{{user}}"
        body="{{user}}"
        method="POST"
        url="/insertuser"
        handle-as="json"
        last-response="{{dataResponse}}" 
        loading = "{{cargando}}"
        content-type="application/json"          
    ></iron-ajax>
  <form>
        <paper-input value="{{nombre}}" type = "text" Label="Nombre"></paper-input>
        <paper-input value="{{apellido1}}"  type = "text" Label="Apellido Paterno"></paper-input>
        <paper-input value="{{apellido2}}" type = "text" Label="Apellido Materno"></paper-input>
        <paper-input value="{{email}}"   type = "text" Label="Email"></paper-input>
        <paper-input value="{{descripcion}}"   type = "text" Label="Acerca de mi"></paper-input>
        <paper-input value="{{area}}"   type = "text" Label="Área"></paper-input>
        <paper-input value="{{oficina}}"   type = "text" Label="Oficina"></paper-input>
        <paper-button raised type="submit" on-click="submitForm">Enviar</button>
  </form>
  </template>

  <script>
    Polymer({

      is: 'my-view1',

      properties: {
        //Propiedad a mandar al padre
        user:{
          type: Object,
          notify: true
        },
        //Propiedades a modificar por mi form
        nombre: {
          type: String, 
        },
        apellido1: {
          type: String, 
        },
        apellido2: {
          type: String, 
        },
        email: {
          type: String, 
        },
        descripcion: {
          type: String, 
        },
        area: {
          type: String, 
        },
        oficina: {
          type: String, 
        }

      },
      //Aquí comienzan mis métodos
      submitForm: function(e){
           e.preventDefault();
           var userData ={
            nombre: this.nombre,
            apellido1: this.apellido1,
            apellido2: this.apellido2,
            email: this.email,
            descripcion: this.descripcion,
            area: this.area,
            oficina: this.oficina
          }

          //Guardo las propiedades dentro de un objeto a la propiedad "User" quién la mandará al padre.
          this.set('user', userData);

      },
      dataResponse: function() {
        console.log("funciona")
      }


    });
  </script>
</dom-module>
