<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        iron-selector{
          background-color:white;
        }
      }
    </style>

    <!--  <iron-ajax id= "datamanager"
          auto
          url="[[url]]"
          body="[[params]]"
          method="[[method]]" 
          id="dataAjax" 
          handle-as="json"
          last-response="{{data}}" 
      ></iron-ajax> -->

       <iron-ajax id= "leoskills"
          auto
          url="/skills"
          handle-as="json"
          on-response="handleResponse"
          last-response="{{data}}" 
          loading = "{{cargando}}"          
      ></iron-ajax>

       <iron-ajax id= "datamanager"
              auto="{{user}}"
              body="{{user}}"
              method="POST"
              url="/insertuser"
              handle-as="json"
              last-response="{{dataResponse}}" 
              loading = "{{cargando}}"
              content-type="application/json"          
          ></iron-ajax>
      
    <div class="card">
      <form>
            <h2>Skills</h2>
             <paper-spinner hidden="[[!cargando]]" active="[[cargando]]"></paper-spinner>

             <select hidden="[[cargando]]" name="" id="category" value="{{category::change}}">
                     <template is="dom-repeat" items="[[data]]">
                              <option>[[item.name]]</option>
                    </template>
             </select>

      </form>
    
    </div> 
        
    
  </template>

  <script>
    Polymer({
      is: 'my-view2',
      properties: {
        category:{
          type: String,
          observer: 'setCategory'
        },
        url:{
          type: String
        },
        params:{
          type: Object
        },
        method:{
          type: String,
          value: 'POST'
        },
        headers: {
          type: Array,
          value: function(){
            return [];
          }
        },
        skills:{
          type: Array,
          value: function(){
            return [];
          }
        },
        skillsReady:{
          type: Object,
          notify:true
        },
        mySkills :{
          type: Array,
          value: function(){
            return [];
          },
          notify:true
        } 
       
      },
      setCategory: function(category){
          this.set('params', {
            type: category
          });
          debugger;
          this.$.datamanager.generateRequest();
      },

      handleResponse :function(response){
         this.set('skills', response.detail.response[0].skills);
      }
    });
  </script>
</dom-module>
