<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
  <iron-ajax id= "datamanager"
          auto
          url="/users"
          handle-as="json"
          on-response="handleResponse"
          last-response="{{data}}" 
          loading = "{{cargando}}"          
      ></iron-ajax>

   
    <paper-spinner hidden="[[!cargando]]" active="[[cargando]]"></paper-spinner>

    <template is="dom-repeat" items="[[data]]">
              <div class="card">
                <h1>[[item.nombre]] [[item.apellido1]] [[item.apellido2]]</h1>
                <email>[[item.email]]</email>
                <p>[[item.descripcion]]</p>
                <template is="dom-repeat" items="[[item.skills]]">
                    <div>
                       <strong>Skill [[item.name]]</strong>
                       <span>Lvl [[item.lvl]]</span>
                     </div>
                </template>
              </div>
             
    </template>
 
    
  </template>

  <script>
    Polymer({
      is: 'my-view3',
      handleResponse :function(response){
         this.set('users', response.detail.response[0].users);
      }
    });
  </script>
</dom-module>
